{% extends 'base.html' %}
{% block header %}
<title>Little brewing corner</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
    <div class="row">
        <div class="col align-self-center">
        <h1 class="text-light">Your coffee recipes</h1>
        </div>
      </div>
    <div class="row">
        <div class="d-flex justify-content-center align-self-center">
            <button type="button" class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#formModal">
                New recipe
            </button>
        </div>
    </div>
    
    {% if recipes|length < 1 %}
    <div class="row">
        <div class="col align-self-center">
            CREATE A NEW RECIPE BRUH
        </div>
    </div>
    
    {% else %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col" class="w-25 p-3">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Coffee weight</th>
                <th scope="col">Water weight</th>
                <th scope="col" class="mw-25">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.name}}</td>
                <td>{{recipe.time}}s</td>
                <td>{{recipe.coffee}}g</td>
                <td>{{recipe.water}}g</td>
                <td>{{recipe.description}}</td>
                <td>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary " style="background-color: red-700;"
                            data-bs-toggle="modal" data-bs-target="#formModal"
                            data-recipe-id="{{recipe.id}}">Update</button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" data-recipe-delete-id="{{recipe.id}}">Delete</button>
                    </div>


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Recipe delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="recipe-delete" action="">
                    <div class="modal-body">
                        Are you sure that you would like to delete the recipe?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">New recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="recipe-form" action="/" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipe-name" class="form-label">Name of the recipe</label>
                            <input type="text" name="name" class="form-control" id="recipe-name"
                                placeholder="Recipe name" required minlength='5' maxlength='100'>
                        </div>

                        <div class="mb-3">
                            <label for="recipe-name" class="form-label">Brewing time</label>
                            <input type="number" class="form-control" name="time" id="recipe-time" placeholder="Time"
                                aria-describedby="timeHelp" min="1" max="600" step="1" required>
                            <div id="timeHelp" class="form-text">Brewing time in seconds.</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="recipe-name" class="form-label">Water (g)</label>
                                <input type="number" class="form-control" name="water" id="recipe-water"
                                    placeholder="Water weight (g)" aria-describedby="timeHelp" min="1" max="1000"
                                    step="0.1" required>
                            </div>
                            <div class="col">
                                <label for="recipe-name" class="form-label">Coffee (g)</label>
                                <input type="number" class="form-control" name="coffee" id="recipe-coffee"
                                    placeholder="Coffee weight (g)" aria-describedby="timeHelp" min="1" max="100"
                                    step="0.1" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="recipe-description" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="recipe-description" rows="3"
                                maxlength='500'></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block scripts %}
<script src="../static/js/formModal.js"></script>
{% endblock %}