.coffeeBackground {
        position: fixed;
        z-index: -1;
        background-image: url('../img/coffee_bg.jpg');
        background-repeat: repeat;
        background-size: cover;
        top:0;
        width: 100vw;
        height: 100vh;
        filter: brightness(60%);
}