{% extends 'base.html' %}
{% block header %}
<title>Little brewing corner</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Your recipes</h1>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Coffee weight</th>
                <th scope="col">Water weight</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for recipe in recipes %}
            <tr>
                <td>{{recipe.id}}</th>
                <td>{{recipe.name}}</td>
                <td>{{recipe.time}}s</td>
                <td>{{recipe.coffee}}g</td>
                <td>{{recipe.water}}g</td>
                <td>{{recipe.description}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal"
                        data-recipe-id="{{recipe.id}}">Update</button>
                        <a href="/delete/{{recipe.id}}"><button type="button" class="btn btn-secondary">Delete</button></a>
                        
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
        Add new recipe
    </button>

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">New recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                <form id="recipe-form" action="/" method="POST">
                    <div class="modal-body">
                        <input type="text" name="name" id="recipe-name" placeholder="Recipe name">
                        <input type="text" name="time" id="recipe-time" placeholder="Time">
                        <input type="text" name="water" id="recipe-water" placeholder="Water weight (g)">
                        <input type="text" name="coffee" id="recipe-coffee" placeholder="Coffee weight (g)">
                        <input type="text" name="description" id="recipe-description" placeholder="Description">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/formModal.js"></script>
{% endblock %}